USE [SistemaWebProyecto]
GO
/****** Object:  Table [dbo].[ARCHIVO]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARCHIVO](
	[ARCHIVO_id] [int] IDENTITY(1,1) NOT NULL,
	[ARCHIVO_titulo] [varchar](50) NULL,
	[ARCHIVO_fecha] [smalldatetime] NULL,
	[ARCHIVO_data] [image] NULL,
	[ARCHIVO_descripcion] [varchar](50) NULL,
	[PROYECTO_id] [int] NULL,
	[TRABAJADOR_dni] [char](10) NULL,
 CONSTRAINT [PK_ARCHIVO] PRIMARY KEY CLUSTERED 
(
	[ARCHIVO_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[CATEGORIA_id] [char](10) NOT NULL,
	[CATEGORIA_descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[CATEGORIA_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COTIZACION]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COTIZACION](
	[COTIZACIONN_id] [char](10) NOT NULL,
	[COTIZACION_fecha] [smalldatetime] NULL,
	[COTIZACION_montoTotal] [money] NULL,
	[PROYECTO_id] [int] NULL,
 CONSTRAINT [PK_COTIZACION] PRIMARY KEY CLUSTERED 
(
	[COTIZACIONN_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CRONOGRAMA]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRONOGRAMA](
	[CRONOGRAMA_titulo] [varchar](50) NOT NULL,
	[CRONOGRAMA_fechaInicio] [date] NULL,
	[CRONOGRAMA_fechaFin] [date] NULL,
	[CRONOGRAMA_horaInicio] [time](7) NULL,
	[CRONOGRAMA_horaFin] [time](7) NULL,
	[CRONOGRAMA_descripcion] [varchar](max) NULL,
	[ESTADO_id] [int] NULL,
	[TRABAJADOR_dni] [char](10) NULL,
	[PROYECTO_id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESCRIPCION]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESCRIPCION](
	[DESCRIPCION_cantidad] [int] NULL,
	[COTIZACION_id] [char](10) NULL,
	[MATERIAL_id] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ESTADO_id] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO_descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ESTADO_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INFORME]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFORME](
	[INFORME_id] [char](10) NOT NULL,
	[INFORME_descripcion] [varchar](50) NULL,
	[INFORME_fecha] [smalldatetime] NULL,
	[INFORME_fechaSolucion] [smalldatetime] NULL,
	[ESTADO_id] [int] NULL,
	[TRABAJADOR_dni] [char](10) NULL,
	[PROYECTO_id] [int] NULL,
 CONSTRAINT [PK_INFORME] PRIMARY KEY CLUSTERED 
(
	[INFORME_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[MATERIAL_id] [char](10) NOT NULL,
	[MATERIAL_nombre] [varchar](50) NULL,
	[MATERIAL_precio] [money] NULL,
	[CATEGORIA_id] [char](10) NULL,
	[UNIDADES_id] [char](10) NULL,
 CONSTRAINT [PK_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[MATERIAL_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO](
	[MOVIMIENTO_id] [int] IDENTITY(1,1) NOT NULL,
	[MOVIMIENTO_titulo] [varchar](50) NULL,
	[MOVIMIENTO_descripcion] [varchar](max) NULL,
	[MOVIMIENTO_money] [money] NULL,
	[MOVIMIENTO_RUC] [char](11) NULL,
	[MOVIMIENTO_razonSocial] [varchar](max) NULL,
	[MOVIMIENTO_fecha] [smalldatetime] NULL,
	[PROYECTO_id] [int] NULL,
	[ARCHIVO_id] [int] NULL,
	[TIPO_id] [int] NULL,
 CONSTRAINT [PK_MOVIMIENTO] PRIMARY KEY CLUSTERED 
(
	[MOVIMIENTO_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANILLA]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANILLA](
	[PLANILLA_fechaModificacion] [smalldatetime] NULL,
	[TRABAJADOR_dni] [char](10) NULL,
	[PROYECTO_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[PROYECTO_id] [int] IDENTITY(1,1) NOT NULL,
	[PROYECTO_titulo] [varchar](50) NULL,
	[PROYECTO_fechaInicio] [date] NULL,
	[PROYECTO_fechaFin] [date] NULL,
	[PROYECTO_descripcion] [varchar](max) NULL,
	[PROYECTO_nombreCliente] [varchar](50) NULL,
	[PROYECTO_direccion] [varchar](max) NULL,
	[PROYECTO_fondos] [money] NULL,
	[TRABAJADOR_dni] [char](10) NOT NULL,
 CONSTRAINT [PK_PROYECTO] PRIMARY KEY CLUSTERED 
(
	[PROYECTO_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUESTO]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUESTO](
	[PUESTO_id] [int] IDENTITY(1,1) NOT NULL,
	[PUESTO_nombre] [varchar](50) NULL,
 CONSTRAINT [PK_PUESTO] PRIMARY KEY CLUSTERED 
(
	[PUESTO_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO](
	[TIPO_id] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_name] [varchar](50) NULL,
 CONSTRAINT [PK_TIPO] PRIMARY KEY CLUSTERED 
(
	[TIPO_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRABAJADOR]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRABAJADOR](
	[TRABAJADOR_dni] [char](10) NOT NULL,
	[TRABAJADOR_nombre] [varchar](50) NULL,
	[TRABAJADOR_apellido] [varchar](50) NULL,
	[TRABAJADOR_telefono] [char](9) NULL,
	[TRABAJADOR_correo] [varchar](50) NULL,
	[TRABAJADOR_password] [varbinary](max) NULL,
	[PUESTO_id] [int] NULL,
 CONSTRAINT [PK_TRABAJADOR] PRIMARY KEY CLUSTERED 
(
	[TRABAJADOR_dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIDADES]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIDADES](
	[UNIDADES_id] [char](10) NOT NULL,
	[UNIDADES_descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_UNIDADES] PRIMARY KEY CLUSTERED 
(
	[UNIDADES_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ARCHIVO]  WITH CHECK ADD  CONSTRAINT [FK_ARCHIVO_PROYECTO] FOREIGN KEY([PROYECTO_id])
REFERENCES [dbo].[PROYECTO] ([PROYECTO_id])
GO
ALTER TABLE [dbo].[ARCHIVO] CHECK CONSTRAINT [FK_ARCHIVO_PROYECTO]
GO
ALTER TABLE [dbo].[ARCHIVO]  WITH CHECK ADD  CONSTRAINT [FK_ARCHIVO_TRABAJADOR] FOREIGN KEY([TRABAJADOR_dni])
REFERENCES [dbo].[TRABAJADOR] ([TRABAJADOR_dni])
GO
ALTER TABLE [dbo].[ARCHIVO] CHECK CONSTRAINT [FK_ARCHIVO_TRABAJADOR]
GO
ALTER TABLE [dbo].[COTIZACION]  WITH CHECK ADD  CONSTRAINT [FK_COTIZACION_PROYECTO] FOREIGN KEY([PROYECTO_id])
REFERENCES [dbo].[PROYECTO] ([PROYECTO_id])
GO
ALTER TABLE [dbo].[COTIZACION] CHECK CONSTRAINT [FK_COTIZACION_PROYECTO]
GO
ALTER TABLE [dbo].[CRONOGRAMA]  WITH CHECK ADD  CONSTRAINT [FK_CRONOGRAMA_ESTADO] FOREIGN KEY([ESTADO_id])
REFERENCES [dbo].[ESTADO] ([ESTADO_id])
GO
ALTER TABLE [dbo].[CRONOGRAMA] CHECK CONSTRAINT [FK_CRONOGRAMA_ESTADO]
GO
ALTER TABLE [dbo].[CRONOGRAMA]  WITH CHECK ADD  CONSTRAINT [FK_CRONOGRAMA_PROYECTO] FOREIGN KEY([PROYECTO_id])
REFERENCES [dbo].[PROYECTO] ([PROYECTO_id])
GO
ALTER TABLE [dbo].[CRONOGRAMA] CHECK CONSTRAINT [FK_CRONOGRAMA_PROYECTO]
GO
ALTER TABLE [dbo].[CRONOGRAMA]  WITH CHECK ADD  CONSTRAINT [FK_CRONOGRAMA_TRABAJADOR] FOREIGN KEY([TRABAJADOR_dni])
REFERENCES [dbo].[TRABAJADOR] ([TRABAJADOR_dni])
GO
ALTER TABLE [dbo].[CRONOGRAMA] CHECK CONSTRAINT [FK_CRONOGRAMA_TRABAJADOR]
GO
ALTER TABLE [dbo].[DESCRIPCION]  WITH CHECK ADD  CONSTRAINT [FK_DESCRIPCION_COTIZACION] FOREIGN KEY([COTIZACION_id])
REFERENCES [dbo].[COTIZACION] ([COTIZACIONN_id])
GO
ALTER TABLE [dbo].[DESCRIPCION] CHECK CONSTRAINT [FK_DESCRIPCION_COTIZACION]
GO
ALTER TABLE [dbo].[DESCRIPCION]  WITH CHECK ADD  CONSTRAINT [FK_DESCRIPCION_MATERIAL] FOREIGN KEY([MATERIAL_id])
REFERENCES [dbo].[MATERIAL] ([MATERIAL_id])
GO
ALTER TABLE [dbo].[DESCRIPCION] CHECK CONSTRAINT [FK_DESCRIPCION_MATERIAL]
GO
ALTER TABLE [dbo].[INFORME]  WITH CHECK ADD  CONSTRAINT [FK_INFORME_ESTADO] FOREIGN KEY([ESTADO_id])
REFERENCES [dbo].[ESTADO] ([ESTADO_id])
GO
ALTER TABLE [dbo].[INFORME] CHECK CONSTRAINT [FK_INFORME_ESTADO]
GO
ALTER TABLE [dbo].[INFORME]  WITH CHECK ADD  CONSTRAINT [FK_INFORME_PROYECTO] FOREIGN KEY([PROYECTO_id])
REFERENCES [dbo].[PROYECTO] ([PROYECTO_id])
GO
ALTER TABLE [dbo].[INFORME] CHECK CONSTRAINT [FK_INFORME_PROYECTO]
GO
ALTER TABLE [dbo].[INFORME]  WITH CHECK ADD  CONSTRAINT [FK_INFORME_TRABAJADOR] FOREIGN KEY([TRABAJADOR_dni])
REFERENCES [dbo].[TRABAJADOR] ([TRABAJADOR_dni])
GO
ALTER TABLE [dbo].[INFORME] CHECK CONSTRAINT [FK_INFORME_TRABAJADOR]
GO
ALTER TABLE [dbo].[MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAL_CATEGORIA] FOREIGN KEY([CATEGORIA_id])
REFERENCES [dbo].[CATEGORIA] ([CATEGORIA_id])
GO
ALTER TABLE [dbo].[MATERIAL] CHECK CONSTRAINT [FK_MATERIAL_CATEGORIA]
GO
ALTER TABLE [dbo].[MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAL_UNIDADES] FOREIGN KEY([UNIDADES_id])
REFERENCES [dbo].[UNIDADES] ([UNIDADES_id])
GO
ALTER TABLE [dbo].[MATERIAL] CHECK CONSTRAINT [FK_MATERIAL_UNIDADES]
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTO_ARCHIVO] FOREIGN KEY([ARCHIVO_id])
REFERENCES [dbo].[ARCHIVO] ([ARCHIVO_id])
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [FK_MOVIMIENTO_ARCHIVO]
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTO_PROYECTO] FOREIGN KEY([PROYECTO_id])
REFERENCES [dbo].[PROYECTO] ([PROYECTO_id])
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [FK_MOVIMIENTO_PROYECTO]
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTO_TIPO] FOREIGN KEY([TIPO_id])
REFERENCES [dbo].[TIPO] ([TIPO_id])
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [FK_MOVIMIENTO_TIPO]
GO
ALTER TABLE [dbo].[PLANILLA]  WITH CHECK ADD  CONSTRAINT [FK_PLANILLA_PROYECTO] FOREIGN KEY([PROYECTO_id])
REFERENCES [dbo].[PROYECTO] ([PROYECTO_id])
GO
ALTER TABLE [dbo].[PLANILLA] CHECK CONSTRAINT [FK_PLANILLA_PROYECTO]
GO
ALTER TABLE [dbo].[PLANILLA]  WITH CHECK ADD  CONSTRAINT [FK_PLANILLA_TRABAJADOR] FOREIGN KEY([TRABAJADOR_dni])
REFERENCES [dbo].[TRABAJADOR] ([TRABAJADOR_dni])
GO
ALTER TABLE [dbo].[PLANILLA] CHECK CONSTRAINT [FK_PLANILLA_TRABAJADOR]
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_PROYECTO_TRABAJADOR] FOREIGN KEY([TRABAJADOR_dni])
REFERENCES [dbo].[TRABAJADOR] ([TRABAJADOR_dni])
GO
ALTER TABLE [dbo].[PROYECTO] CHECK CONSTRAINT [FK_PROYECTO_TRABAJADOR]
GO
ALTER TABLE [dbo].[TRABAJADOR]  WITH CHECK ADD  CONSTRAINT [FK_TRABAJADOR_PUESTO] FOREIGN KEY([PUESTO_id])
REFERENCES [dbo].[PUESTO] ([PUESTO_id])
GO
ALTER TABLE [dbo].[TRABAJADOR] CHECK CONSTRAINT [FK_TRABAJADOR_PUESTO]
GO
/****** Object:  StoredProcedure [dbo].[sp_Clave]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Clave]
@Correo as varchar(50)
AS 
select libre = convert(Varchar(MAX),DECRYPTBYPASSPHRASE('key',TRABAJADOR_password)) 
from TRABAJADOR where TRABAJADOR_Correo = @Correo
GO
/****** Object:  StoredProcedure [dbo].[SP_CreacionUsuario]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CreacionUsuario]
  @DNI as char(10),
  @NOMBRE as varchar(50),
  @APELLIDO as varchar(50),
  @TELEFONO as char(9),
  @CORREO as varchar(50),
  @PASSWORD as varchar(50)
  as
  declare
  @pssb varbinary(MAX)
  begin
  set @pssb=(ENCRYPTBYPASSPHRASE('key',@PASSWORD));
  insert into TRABAJADOR values (@DNI,@NOMBRE,@APELLIDO,@TELEFONO,@CORREO,@pssb,5)
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarArchivo]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_GuardarArchivo]
@titulo as varchar(50),
@data as image,
@descripcion as varchar(50),
@ProyectoID as int,
@DNI as char(10)
as
insert into ARCHIVO values (@titulo,GETDATE(),@data,@descripcion,@ProyectoID,@DNI)
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarPlanilla]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_InsertarPlanilla]
@DNI as char(10),
@IdProyecto as int
as
Insert into PLANILLA values(GETDATE(),@DNI,@IdProyecto)
GO
/****** Object:  StoredProcedure [dbo].[sp_insertCronograma]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_insertCronograma]
@Titulo as varchar(50),
@Descripcion as varchar(MAX),
@DNI as char(10),
@FechaInicio as date,
@HoraIncio as Time,
@FechaFin as date,
@HoraFin as Time,
@Proyecto as int
AS
insert into CRONOGRAMA values (@Titulo,@FechaInicio,@FechaFin,@HoraIncio,@HoraFin,@Descripcion,1,@DNI,@Proyecto)
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCronogramaXFecha]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ListarCronogramaXFecha]
@DNI as char(10),
@Date as date 
AS
select * from CRONOGRAMA 
where TRABAJADOR_dni = @DNI and (@Date BETWEEN CRONOGRAMA_fechaInicio and CRONOGRAMA_fechaFin)
GO
/****** Object:  StoredProcedure [dbo].[sp_ListaTrabajadores]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ListaTrabajadores] 
@IdPuesto as int as
select TRABAJADOR.TRABAJADOR_dni,TRABAJADOR.TRABAJADOR_apellido +', ' +TRABAJADOR.TRABAJADOR_nombre,TRABAJADOR.TRABAJADOR_telefono,TRABAJADOR.TRABAJADOR_correo,PUESTO.Puesto_nombre from TRABAJADOR,PUESTO 
where PUESTO.PUESTO_id = TRABAJADOR.PUESTO_id and TRABAJADOR.PUESTO_id != @IdPuesto;
GO
/****** Object:  StoredProcedure [dbo].[sp_MoviemientoInsert]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_MoviemientoInsert]
@Titulo as varchar(50),
@Descripcion as varchar(max),
@Money as money,
@Ruc as char(11),
@RazonSocial as varchar(max),
@PROYECTO_id as int,
@ARCHIVO_id as int,
@TIPO_id as int
AS
insert into MOVIMIENTO values(@Titulo,@Descripcion,@Money,@Ruc,@RazonSocial,GETDATE(),@PROYECTO_id,@ARCHIVO_id,@TIPO_id)
GO
/****** Object:  StoredProcedure [dbo].[sp_sumDia]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_sumDia]
@Dia as int,
@Mes as int,
@Annio as int,
@Tipo as int,
@Proyecto as int 
AS
select Sum(MOVIMIENTO_money) from MOVIMIENTO
where DAY(MOVIMIENTO_fecha) = @Dia AND MONTH(MOVIMIENTO_fecha) = @Mes AND YEAR(MOVIMIENTO_fecha) = @Annio and TIPO_id = @Tipo and PROYECTO_id = @Proyecto;
GO
/****** Object:  StoredProcedure [dbo].[sp_SumDiaMesMovimiento]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_SumDiaMesMovimiento]
@TIPO as int,
@Proyecto as int,
@Mes as int, 
@Dia as int
As
select Sum(MOVIMIENTO_money) Gasto 
FROM MOVIMIENTO 
where MONTH(MOVIMIENTO_fecha) = @Mes and TIPO_id = @TIPO and PROYECTO_id = @Proyecto and DAY(MOVIMIENTO_fecha)=@Dia
GO
/****** Object:  StoredProcedure [dbo].[sp_SumMesMovimiento]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_SumMesMovimiento]
@TIPO as int,
@Proyecto as int,
@Mes as int 
As
select Sum(MOVIMIENTO_money) Gasto 
FROM MOVIMIENTO 
where Year(MOVIMIENTO_fecha) = DATEPART(year,GetDate()) and TIPO_id = @TIPO and PROYECTO_id = @Proyecto and MONTH(MOVIMIENTO_fecha) = @Mes
GO
/****** Object:  StoredProcedure [dbo].[sp_TituloId_Proyecto]    Script Date: 30/08/2021 20:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TituloId_Proyecto]
@id as int
as
select concat('Proyecto N°',Proyecto.Proyecto_id, ' - ',Proyecto.PROYECTO_titulo ) from PROYECTO where Proyecto_id = @id
GO
